#!/usr/bin/env bash

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# be more careful and powerful
alias mv="mv -i"
alias rm="rm -i"
alias mkdir="mkdir -p"

# shortcuts
alias c=clear
alias q=exit
alias open=xdg-open

# use `exa` instead of `ls`
alias ls=exa
alias sl=exa
alias l="exa -lhaa"
alias ll="exa -lhaa"

# useful program
# alias grep=rg
alias top=htop
alias ps=procs
alias t=tree
alias fig=figlet
alias s=neofetch
alias ra=ranger
alias tm=tmux
alias xclip="xclip -sel clip"

# git shortcuts
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gf="git fetch"
alias gm="git merge"
alias gp="git pull" # equls to `git fetch; git merge`
alias gpp="git push"
alias gco="git checkout"
alias gd="git diff"
alias gb="git branch -vv"
alias gl="git log --all --oneline --graph --decorate=full"
alias ghs="sudo cat ~/.secrets/.ghs | xclip"

